@{
    ViewData["Title"] = "Claims";
}

<html>
<head>
    <style>
        body {
            background-color: lavender;
            align-content: center;
            align-items: center;
        }

        h1 {
            font-size: 100px;
            text-align: center;
            background-color: blueviolet;
            color: lavender;
            align-content: center;
            border: 1px solid black;
        }

        h2 {
            font-size: 60px;
            text-align: center;
            background-color: blueviolet;
            color: lavender;
            border: 1px solid black;
            align-content: center;
        }

        h3 {
            font-size: 50px;
            text-align: center;
            background-color: blueviolet;
            color: lavender;
            align-content: center;
            border: 1px solid black;
        }

        label {
            text-align: center;
            background-color: blueviolet;
            color: lavender;
            align-content: center;
            font-size: 30px;
            border: 1px solid black;
        }

        input {
            text-align: center;
            background-color: lavender;
            border: 2px solid black;
            color: lavender;
            align-content: center;
        }

            input[type="checkbox"] {
                width: 100px;
                height: 30px;
                accent-color: blueviolet;
                align-content: center;
                border: 1px solid black;
            }

        a {
            color: lavender;
            text-align: center;
        }

        p {
            text-align: center;
            background-color: blueviolet;
            color: lavender;
            align-content: center;
            border: 1px solid black;
        }

        button {
            text-align: center;
            background-color: blueviolet;
            color: lavender;
            border: 2px solid lavender;
            vertical-align: central;
            font-size: 40px;
            width: 100%;
        }

        div {
            align-content: center;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            background-color: blueviolet;
            color: lavender;
        }

        th, td {
            border: 2px solid lavender;
            padding: 8px;
            text-align: left;
            background-color: blueviolet;
            color: lavender;
        }

        th {
            background-color: blueviolet;
            color: lavender;
        }

    </style>

</head>
<body>
    <h1>@ViewData["Title"]</h1>

    <h2>
        Welcome to Claims page
    </h2>

    <button>Add Claim</button>

    <table border="1">
        <caption>Claims</caption>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Approval status</th>
            <th>Edit</th>
            <th>Delete</th>

        </tr>
        <tr>
            <td>1</td>
            <td>Name1</td>
            <td>Description1</td>
            <td>Pending</td>
            <td><button>Edit</button></td>
            <td><button>Delete</button></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Name2</td>
            <td>Description2</td>
            <td>Processing</td>
            <td><button>Edit</button></td>
            <td><button>Delete</button></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Name3</td>
            <td>Description3</td>
            <td>Success</td>
            <td><button>Edit</button></td>
            <td><button>Delete</button></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Name4</td>
            <td>Description4</td>
            <td>Denided</td>
            <td><button>Edit</button></td>
            <td><button>Delete</button></td>
        </tr>
    </table>

</body>
</html>
