@{
    ViewData["Title"] = "Home Page";
}
<html>
<body>
    <h1>

        Welcome to the home page

    </h1>         

    <h4>
        About Us
    </h4>

    <p><hr />This is a Contract Monthly Claim System created to aid lecturers to have an easier time with the process of submitting montly claims as 
        independent Contractor lecturers.<hr /> 
        The claims are approved by the administrators and can be reject if required to.<hr />
        A supporting document to help the lecturers claim can be submitted as while to convince the administrators.<hr />
        The role of the lecturer includes complex calculations based on the hours worked and the hourly rates.
    </p>

    </body>
    </html>
