@{
    ViewData["Title"] = "Home Page";
}
<html>
<body>
    <h1 class="display-4">

        Welcome to the home page

    </h1>

    <h2>
        
        Do You Wish To Login Or SignIn?

    </h2>

        <div class="d-grid gap-2">
            <button type="button"><a href="Index.cshtml">Login</a></button>
            <button type="button"><a href="Signin.cshtml">Signin</a></button>
        </div>            

    </body>
    </html>
