@{
    ViewData["Title"] = "Login";
}

<html>
    <head>
    <style>

    </style>

    </head>
    <body>
        <h1>@ViewData["Title"]</h1>

        <h2>
            Welcome to login page
        </h2>

        <form>
            <div class="row mb-3">
                <label for="userNameInput">UserName</label>
                <input type="text" class="form-control" id="userNameInput">
            </div>
    
            <div class="row mb-3">
                <label for="inputPassword">Password</label>
                <input  type="password" class="form-control" id="inputPassword" >
            </div>
    
            <button type="submit">Login</button>
        </form>

    </body>
</html>
