@{
    ViewData["Title"] = "Signin";
}

<html>
<head>
    <style>
        body {
            background-color: lavender;
            align-content: center;
            align-items: center;
        }

        h1 {
            font-size: 100px;
            text-align: center;
            background-color: blueviolet;
            color: lavender;
            align-content: center;
            border: 1px solid black;
        }

        h2 {
            font-size: 60px;
            text-align: center;
            background-color: blueviolet;
            color: lavender;
            border: 1px solid black;
            align-content: center;
        }

        h3 {
            font-size: 50px;
            text-align: center;
            background-color: blueviolet;
            color: lavender;
            align-content: center;
            border: 1px solid black;
        }

        label {
            text-align: center;
            background-color: blueviolet;
            color: lavender;
            align-content: center;
            font-size: 30px;
            border: 1px solid black;
        }

        input {
            text-align: center;
            background-color: lavender;
            border: 2px solid black;
            color: lavender;
            align-content: center;
        }

            input[type="checkbox"] {
                width: 100px;
                height: 30px;
                accent-color: blueviolet; /* Changes the color of the checkbox */
                align-content: center border: 1px solid black;
            }

        a {
            color: lavender;
            text-align: center;
        }

        p {
            text-align: center;
            background-color: blueviolet;
            color: lavender;
            align-content: center;
            border: 1px solid black;
        }

        button {
            text-align: center;
            background-color: blueviolet;
            color: lavender;
            border: 2px solid black;
            vertical-align: central;
            font-size: 40px;
        }

        div{
            align-content: center;
        }

    </style>

</head>
<body>
    <h1>@ViewData["Title"]</h1>

    <h2>
        Welcome to Signin page
    </h2>

    <form>
        <div class="row mb-3">
            <label for="firstNameInput">First Name</label>
            <input type="text" class="form-control" id="firstNameInput">
        </div>

        <div class="row mb-3">
            <label for="surnameInput">Surname</label>
            <input type="text" class="form-control" id="surnameInput">
        </div>

        <div class="row mb-3">
            <label for="emailInput">Email</label>
            <input type="text" class="form-control" id="emailInput">
        </div>

        <div class="row mb-3">
            <label for="phoneNumberInput">Phone Number</label>
            <input type="text" class="form-control" id="phoneNumberInput">
        </div>

        <div class="row mb-3">
            <h3>
            <label>Role</label>
            </h3>

			<div>
				<label for="checkbox1">Lecturer</label>

			<input type="checkbox" id="checkbox1" name="checkbox1" value="Lecturer">

			</div>
			<div>
				<label for="checkbox2">Admin</label>

			<input type="checkbox" id="checkbox2" name="checkbox2" value="Admin">

			</div>

        </div>

        <div class="row mb-3">
            <label for="userNameInput">UserName</label>
            <input type="text" class="form-control" id="userNameInput">
        </div>

        <div class="row mb-3">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword">
        </div>

        <button type="submit">Signin</button>
    </form>

</body>
</html>
